h1 {
    text-align: center;
    font-size: 3em;
}


.a1 {
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    border-radius: 0.5em;
    padding: 1em;
    justify-content: space-between;
}


img {
    max-width: 25em;
    height: auto;
    float: center;
}




