.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  .material-icon {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 3em;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: lightblue;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    .material-icon {font-size: 5em;}
  }
  .button {
    background-color: transparent;
    border: solid black 1px;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
  }
  
  .trueCenter{
    display: flex;
    position: fixed;
    height: 80%;
    width: 90%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.border{
  border: black solid 1px; 
  border-radius: .5em; padding: .5em 1em;
  text-align: center;
}

body{
  opacity: 1;
  transition-duration: 0.7s;
  transition-property: opacity;
}

body.fade {
  opacity: 0;
}
/* Player CSS */
  .player {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: start;
  }
    
  .details {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
  }
  .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    
  }
    
  .playpause-track,
  .prev-track,
  .next-track {
    padding: 25px;
    opacity: 0.8;
    /* Smoothly transition the opacity */
    transition: opacity .4s;
  }
    
  /* Change the opacity when mouse is hovered */
  .playpause-track:hover,
  .prev-track:hover,
  .next-track:hover {
    opacity: 1.0;
  }
  .seek_slider, .volume_slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: black;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  .slider_container {
    width: 75%;
    max-width: 400px;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  .now-playing {
    font-size: 1rem;
  }
    
  .track-name {
    border: black solid 1px; 
    border-radius: .5em; 
    padding: .5em .5em;
    font-size: 2rem;
  }
    
  .track-artist {
    font-size: 1.5rem;
  }
  /* Modify the appearance of the slider thumb */
.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  cursor: pointer;
  border-radius: 50%;
}

.seek_slider {
  width: 60%;
}
  
.volume_slider {
  width: 30%;
}
  
.current-time,
.total-duration {
  padding: 10px;
}
  
i.fa-volume-down,
i.fa-volume-up {
  padding: 10px;
}
  
/* Change the mouse cursor to a pointer
   when hovered over */
i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward{
cursor: pointer;
}

/* Styles to Rebuild Page */
.trackHeader{
 font-size:1.5em;
}

.trackLyrics{
  font-size: 1rem;
  white-space: pre;
}